{
	"TargetName" : "SpecterFront",
	"Platform" : "Win64",
	"Configuration" : "Development",
	"BuildId" : "835ff4c8-c745-426d-9c55-df482390a4b6",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 12,
		"PatchVersion" : 5,
		"Changelist" : 3039270,
		"IsLicenseeVersion" : 0,
		"BranchName" : "++UE4+Release-4.12"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)/Binaries/Win64/SpecterFront.exe",
			"Type" : "Executable"
		},
		{
			"Path" : "$(ProjectDir)/Binaries/Win64/SpecterFront.pdb",
			"Type" : "SymbolFile"
		}
	],
	"RuntimeDependencies" :
	[
		{
			"Path" : "$(ProjectDir)/SpecterFront.uproject",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/2D/Paper2D/Paper2D.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Blendables/LightPropagationVolume/LightPropagationVolume.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CharacterAI/CharacterAI.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CodeView/CodeView.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/WmfMedia/WmfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ArchVisCharacter/ArchVisCharacter.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CableComponent/CableComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CustomMeshComponent/CustomMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ProceduralMeshComponent/ProceduralMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/WindowsMoviePlayer/WindowsMoviePlayer.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/Stats/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3PROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3PROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3CommonPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3CommonPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3CookingPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/PhysX3CookingPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/PhysX-3.3/Win64/VS2015/nvToolsExt64_1.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_ClothingPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_ClothingPROFILE_x64.dll.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_DestructiblePROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_DestructiblePROFILE_x64.dll.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_LegacyPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/APEX_LegacyPROFILE_x64.dll.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/ApexFrameworkPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/APEX-1.3/Win64/VS2015/ApexFrameworkPROFILE_x64.dll.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/Ogg/Win64/VS2015/libogg_64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/Vorbis/Win64/VS2015/libvorbis_64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/Vorbis/Win64/VS2015/libvorbisfile_64.dll",
			"Type" : "NonUFS"
		}
	]
}